<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List</title> 
</head>
<body>
    <h1>Course List</h1>
    <table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Course Name</th>
            <th>Description</th>
            <th>Instructor</th>
            <th>Rating</th>
        </tr>   
    </thead>  
    {% for course in course_list %}  
    <tr>
            <td><a href="{{ course.get_absolute_url }}">{{ course.id }}</a></td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.instructor }}</td>
            <td>{{ course.rating }}</td>
    </tr>
    {% endfor %}
    </table>
    <br><br>
    <a href="/createCourse/">Add New Course</a>
</body>
</html>
