<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title> 
</head>
<body>
    <h1>Student Details</h1>
    <ol>
        <h3><li>First Name: {{student.firstName}}</li></h3>
        <h3><li>Last Name: {{student.lastName}}</li></h3>
        <h3><li>Test Score: {{student.testScore}}</li></h3>   
            <h3><li><a href="{{ student.get_absolute_url }}update/">Update</a></li></h3>
            <h3><li><a href="{{ student.get_absolute_url }}delete/">Delete</a></li></h3>
    </ol>
    <a href="/students/">Back to Student List</a>
</body>
</html>
