<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <table border="1", cellpadding="5", cellspacing="0">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Test Score</th>
            <th>Actions</th>
        </tr>
        {% if students %}
        {% for student in students %}
        <tr>
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.testScore }}</td>
            <td><a href="{% url 'deleteStudent' id=student.id %}">Delete</a>
                <a href="{% url 'updateStudent' id=student.id %}">Update</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <br>
    <a href="{% url 'createStudent' %}">Add Student</a>

    <br><br>




    <h1>Course List</h1>
    <table border="1", cellpadding="5", cellspacing="0">
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Instructor</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
        {% if courses %}
        {% for course in courses %}
        <tr>
            <td>{{ course.courseName }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.instructor }}</td>
            <td>{{ course.rating }}</td>
            <td><a href="{% url 'deleteCourse' id=course.id %}">Delete</a>
                <a href="{% url 'updateCourse' id=course.id %}">Update</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <br>
    <a href="{% url 'createCourse' %}">Add Course</a>

</body>

</html>
