<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <table border="1", cellpadding="5", cellspacing="0">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Test Score</th>
            <th>Actions</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.testScore }}</td>
            <td><a href="{% url 'deleteStudent' id=student.id %}">Delete</a>
                <a href="{% url 'updateStudent' id=student.id %}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'createStudent' %}">Add Student</a>

</body>
</html>
