<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student</title>
</head>
<body>
    <h1>Update Student</h1>
    <ul>
       <form method="post">
        {% csrf_token %}
        First Name: <input type="text" name="firstName" value="{{ student.firstName }}"><br><br>
        Last Name: <input type="text" name="lastName" value="{{ student.lastName }}"><br><br>
        Test Score: <input type="number" name="testScore" value="{{ student.testScore }}"><br><br>
        <input type="submit" value="Update Student">
    </ul>
    </form>

</body>
</html>
