img{
    height: 300px;
    width: 500px;
    border: 10px green groove;
    margin: 0% 20%;
}

.products-page li {
    color: red;
    text-align: left;
    background-color: blue;
    padding: 2px 8px;
    border-radius: 4px; 
    
}

h1{
    color: black;
    text-align: center;
    text-decoration: underline;
}
