<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="{% static 'css/products.css' %}"/>
</head>
<body>
    <ul>
        {% for product in products %}
            {% comment %} <li>{{ product1 }} <img src="{% static 'images/animals.jpeg' %}" /></li>
            <li>{{ product2 }} <img src="{% static 'images/animals.jpeg' %}" /></li>
            <li>{{ product3 }} <img src="{% static 'images/animals.jpeg' %}" /></li> {% endcomment %}

            <li>
                {{ product.name }} 
                <img 
                src="{% static 'images/' %}{{ product.image }}" 
                alt="{{ product.name }}"
                onerror="this.onerror=null; this.src='{% static 'images/no_image.jpg' %}'"/>
            </li>
        {% endfor %}
    </ul>
</body>
</html>