<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
    </head>
    <body>
        <h1>Dashboard</h1>
        <h1>Welcome {{ request.user }}</h1>
        <ul>
            <p><a href="{% url 'create_profile' %}">Create Profile</a></p>
            <p><a href="{% url 'add_product' %}">Add Product</a></p>
            <p><a href="{% url 'list_products' %}">List Products</a></p>
            <p><a href="{% url 'view_cart' %}">View Cart</a></p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
        </ul>   
    </body>
</html> 
